div.blocformlogin
{
	margin: auto;
	padding-left: 20px;
	font-size:9.0pt;
	font-weight: bold;
	border: 0px solid #FF0;
}

div.blocformlogin label
{
	font-size:9.0pt;
	width:100px;
	margin-left: 5px;
}

div.blocformlogin input
{
	font-size:9.0pt;
	width:100px;
}

/* Formulaire login plus large sur mobile */
@media (max-width: 767px) {
	.form-signin2 {
		width: 100%;
		max-width: 100%;
		padding: 0 10px;
	}

	.form-signin2 .form-control,
	.form-signin2 .btn {
		width: 100% !important;
		max-width: 100% !important;
	}
}

