html, body,
.impair2,
.vert
{
	background: none;
}

#banniere,
.footer,
#nav,
.repere,
.titrePage,
.soustitrePage,
.lienExterne,
.saison,
.blocRight,
.Right2,
.Right3,
#fb-root, #selector, .site-header, .titre,
.page-header .btn,
.btn-navigation,
.pdfLink,
.logo_lien
{
    display: none;
}

.tableau,
.blocTable
{
	/*border: 2px groove #264679;*/
	border: none;
}

.tableau thead tr th{
	color: #264679;
}

.head2Public {
	background-color: #CCCCCC;
	color: blue;
}
.tableauPublic thead {
	background: none;
	background-color: #BBBBBB;
}

.pair2 {
	background-color: #EEEEEE;
}

.blocLeft,
.Left2
{
	width: 100%;	
}

.table2 {
	height: auto;
}

.table {
    margin-bottom: 0;
}

body {
    /*background-color: #264679;*/
    background-image: url('../live/img/Ecran_1920x1080.png');
    font-family: 'Lato', sans-serif;
}

.equipe, .table a.equipe, .score {
    color: #264679;
    font-weight: bold;
}

.equipe.btn-primary, .score.btn-primary {
    color: white;
    background-color: #F5A707;
    border-color: #F5A707;
    font-weight: bold;
}

.tableau thead tr th.cliquableScore {
    width: 130px;
}
.tableau thead tr th.bg-primary.text-white {
    color: white;
    background-color: #264679;
}

.tableau tbody tr td.pause {
    color: #264679;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    text-align: center;
    font-style: italic;
}

.separator {
    /*background-color: #EEEEEE;*/
}

.titre-date {
    color: white;
}

.terrains, .terrains .btn, .terrains .badge {
    /*font-size: 0.9em;*/
    /*line-height: 1.1;*/
}
.terrains h2, .terrains h3 {
    color: #25467C;
}

.terrains .btn {
    padding-top: 0px;
    padding-bottom: 0px;
}
.terrains .equipe {
    border: none;
    background: none;
}

.terrains .arbitre {
    border: none;
    background: none;
    color: #222;
    font-weight: bold;
    font-style: italic;
}

.table-striped > tbody > tr:nth-child(2n+1) > td.cat[data-cat='Men'],
.table-striped > tbody td.cat[data-cat='Men']
{
    background-color: #25467C;
    color: white;
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n+1) > td.cat[data-cat='Women'],
.table-striped > tbody td.cat[data-cat='Women']
{
    background-color: #F8A710;
    color: #25467C;
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n+1) > td.cat[data-cat='Men U21'],
.table-striped > tbody td.cat[data-cat='Men U21']
{
    background-color: #3769BB;
    color: #F9A60C;
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(2n+1) > td.cat[data-cat='Women U21'],
.table-striped > tbody td.cat[data-cat='Women U21']
{
    background-color: #CE8806;
    color: white;
    font-weight: bold;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.btn.scoreProvisoire {
    color: #25467C;
}