html, body {
	background: none;
}
#banniere {
	display: none;
	}
.footer {
	display: none;
	}

#nav {
	display: none;
	}
.repere {
	display: none;
	}

.titrePage {
	display: none;
}
.soustitrePage {
	display: none;
}
.lienExterne {
	display: none;
}
.saison {
	display: none;
}

.tableau {
	/*border: 2px groove #264679;*/
	border: none;
}

.tableau thead tr th{
	color: #264679;
}

.head2Public {
	background-color: #CCCCCC;
	color: blue;
}
.tableauPublic thead {
	background: none;
	background-color: #BBBBBB;
}

.impair2 {
	background: none;
}
.pair2 {
	background-color: #EEEEEE;
}

.vert {
	background: none;
}

.blocLeft {
	width: 100%;	
}
.Left2 {
	width: 100%;	
}

.blocTable {
	border: none;
}

.table2 {
	height: auto;
}

.blocMap{
}

.blocRight {
	display: none;
	}
.Right2 {
	display: none;
	}
.Right3 {
	display: none;
	}

#fb-root, #selector, .site-header, .titre {
    display: none;
}

.table {
    margin-bottom: 0;
}

.page-header .btn,
.btn-navigation,
.pdfLink 
{
    display: none;
}

/* Table Condensed */
.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
    padding: 2px;
}