body {
    background-color: lightgrey;
}

mark {
    // background-color: #ffff00 !important;
    background-color: transparent;
    color: inherit;
    border-bottom: 4px ridge #ffff00;
    // border-radius: 3px;
    padding: 2px;
}

.refs mark {
    // background-color: #ff9900 !important;
    background-color: transparent;
    border-bottom: 4px ridge #ffbb00;
}