body
{
	background-color:rgb(0,0,0);
}

div#presentation_line1
{
	width:100%;
	font-weight: bold;
	color:yellow;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:24px;
	text-align:center;
}

div#presentation_line2
{
	width:100%;
	font-weight: bold;
	color:yellow;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:24px;
	text-align:center;
}
