body
{
	background-color:rgb(0,255,0);
/*
	background-image: url("../img/fond_ecran_1920x1080.png");
	background-repeat: no-repeat;
	background-size: 100%;
*/
}

img 
{
  vertical-align:center;
}

table.scenario
{
	width:300px;
}

#banner_list
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	right:0px;
    background-image: url("../img/banner_list.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#banner_single
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	right:0px;
    background-image: url("../img/banner_single.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#banner_referee
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	right:0px;
    background-image: url("../img/banner_referee.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#banner_presentation
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	right:0px;
    background-image: url("../img/banner_presentation.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#list_team_title1
{
	position: absolute;
	left:200px;
	right:300px;
	top:14%;
	text-align:center;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:50px;
}

#list_team_title2
{
	position: absolute;
	left:200px;
	right:300px;
	top:20%;
	text-align:center;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:30px;
}

.list_team_player
{
	position: absolute;
	left:450px;
	right:0px;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:42px;
}

#list_team_player1 {	top:24%;}
#list_team_player2 {	top:29%;}
#list_team_player3 {	top:34%;}
#list_team_player4 {	top:39%;}
#list_team_player5 {	top:44%;}
#list_team_player6 {	top:49%;}
#list_team_player7 {	top:54%;}
#list_team_player8 {	top:59%;}
#list_team_player9 {	top:64%;}
#list_team_player10 {	top:69%;}
#list_team_player11 {	top:74%;}
#list_team_player12 {   top:79%;}
#list_team_player13 {   top:84%;}
#list_team_player14 {   top:89%;}

span.numero_player 
{
	display: inline;
	width:128px;
}

span.name_player 
{
	display: inline;
}

#list_medals_title
{
	position: absolute;
	left:400px;
	top:74%;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:40px;
}

.list_medals
{
	position: absolute;
	left:1000px;
	right:0px;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:28px;
}

#table_medals
{
	position: absolute;
	left:600px;
	top:754px;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:28px;
}

td.col_img_medal
{
	width:150px;
}

td.col_silver { width:300px;}
td.col_gold { width:300px;}
td.col_bronze { width:300px;}

.player_title
{
	position: absolute;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
}

#player_title {	top:79%; left:300px; font-size:36px; }
#player_title1 { top:75%; left:370px; font-size:40px; }
#player_title2 { top:82%; left:470px; font-size:36px; }

#presentation_line1
{
	position: absolute;
	left:0px;
	right:0px;
	top:70%;
	text-align:center;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:32px;
}

#presentation_line2
{
	position: absolute;
	left:0px;
	right:0px;
	top:75%;
	text-align:center;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:38px;
}

#referee_line1
{
	position: absolute;
	left:500px;
	right:0px;
	top:80%;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:40px;
}

#referee_line2
{
	position: absolute;
	left:500px;
	right:0px;
	top:85%;
	text-align:left;
	font-weight: bold;
	color:black;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size:40px;
}
