sources/smarty/templates_c/*
!sources/smarty/templates_c/.gitkeep
sources/live/cache/*.json
sources/commun/MyParams.php
sources/admin/temp_ajust.php
sources/archives/
nbproject/private/
flyspray/flyspray.conf.php

sources/wordpress/*.log
sources/wordpress/wp-config.php
sources/wordpress/wp-content/advanced-cache.php
sources/wordpress/wp-content/backup-db/
sources/wordpress/wp-content/backups/
sources/wordpress/wp-content/blogs.dir/
sources/wordpress/wp-content/cache/
sources/wordpress/wp-content/upgrade/
sources/wordpress/wp-content/uploads/
sources/wordpress/wp-content/mu-plugins/
sources/wordpress/wp-content/wp-cache-config.php
sources/wordpress/wp-content/plugins/hello.php
sources/wordpress/.htaccess
sources/wordpress/license.txt
sources/wordpress/readme.html
sources/wordpress/sitemap.xml
sources/wordpress/sitemap.xml.gz
/docker/error.log
/sources/commun/pce1.pce
/sources/clubs.json
/sources/clubs.json
/sources/admin/pce1.pce
/sources/commun/log_cards.txt
SQL/sql9830.phpnet.org.poloweb4.jour1(2).sql.gz
sources/kpi3/application/views/facebook_iframe.html.twig
sources/kpi3/migration/TODO.md
