sources/smarty/templates_c/*
!sources/smarty/templates_c/.gitkeep
sources/live/cache/*.json
sources/live/cache/logos/*.json
sources/commun/MyParams.php
sources/admin/temp_ajust.php
sources/archives/
nbproject/private/
flyspray/flyspray.conf.php

sources/wordpress/*.log
sources/wordpress/wp-config.php
sources/wordpress/wp-content/advanced-cache.php
sources/wordpress/wp-content/backup-db/
sources/wordpress/wp-content/backups/
sources/wordpress/wp-content/blogs.dir/
sources/wordpress/wp-content/cache/
sources/wordpress/wp-content/upgrade/
sources/wordpress/wp-content/uploads/
sources/wordpress/wp-content/mu-plugins/
sources/wordpress/wp-content/wp-cache-config.php
sources/wordpress/wp-content/plugins/hello.php
sources/wordpress/.htaccess
sources/wordpress/license.txt
sources/wordpress/readme.html
sources/wordpress/sitemap.xml
sources/wordpress/sitemap.xml.gz
/docker/error.log
/sources/commun/pce1.pce
/sources/clubs.json
/sources/clubs.json
/sources/admin/pce1.pce
sources/admin/uploads/*
!sources/admin/uploads/.gitkeep
/sources/commun/log_cards.txt
SQL/sql9830.phpnet.org.poloweb4.jour1(2).sql.gz
sources/kpi3/application/views/facebook_iframe.html.twig
sources/kpi3/migration/TODO.md
.vscode/*
docker/error7.log
sources/commun/log_cron.txt
sources/app/*
!sources/app/.gitkeep
sources/app_prev/*
!sources/app_prev/.gitkeep
sources/app_dev/node_modules/*
sources/app_dev/.env
sources/app_live/*
!sources/app_live/.gitkeep
sources/app_live_prev/*
!sources/app_live_prev/.gitkeep
sources/app_live_dev/node_modules/*
sources/app_live_dev/.env
sources/app_wsm/*
!sources/app_wsm/.gitkeep
sources/app_wsm_prev/*
!sources/app_wsm_prev/.gitkeep
sources/app_wsm_dev/node_modules/*
sources/app_wsm_dev/.env
sources/api/files/*
!sources/api/files/.gitkeep
docker/logs/*
/templates_html
sources/commun/ably_api_key.js
sources/ws_kp
sources/live/css/.htaccess
sources/live/cache/.htaccess
sources/live/cache/
!sources/live/cache/.gitkeep
!sources/live/cache/logos/.gitkeep
!sources/live/cache/archives/.gitkeep
sources/img/KIP/players/*.png
!sources/img/KIP/players/none.png
sources/img/KIP/boats/*.png
sources/img/KIP/vests/*.png
sources/img/KIP/helmets/*.png
/docker/db/mysql/*
!/docker/db/mysql/.gitkeep
docker/.env
docker/.env*
!docker/.env*.dist
docker/apachelogs/*
!docker/apachelogs/.gitkeep
docker/config/config.dev.inc.php
