/* Live */
div {
  font-family: Calibri, Arial, sans-serif;
}

.logo_pleine_page {
  background-image: url('../img_deqing2024/logo_lg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.ban_presentation {
  background-image: url('../img_deqing2024/banner_presentation.png');
}

#banner_presentation {
  width: 1125px;
  height: 240px;
  /* position: absolute; */
  left: 395px;
  top: 530px;
  text-align: left !important;
  /* background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%); */
  /* background-color: whitesmoke; */
  color: #FFFFFF;
  font-weight: bold;
  /* font-family: HelveticaNeueCondensedBold, Arial, sans-serif; */
  font-size: 45px;
}

.ban_presentation .logo_lg {
  height: 450px;
  width: 450px;
  left: 1090px;
  top: 230px;
  background-image: url('../img_deqing2024/logo_lg.png');
}

.ban_presentation_color {
  background-image: url('../img_deqing2024/banner_presentation_color.png');
  height: 100vh;
}

.ban_presentation_color #banner_presentation {
  width: 1425px;
  height: 230px;
  left: 250px;
  top: 818px;
}

.ban_presentation_color .logo_lg {
  position: fixed;
  width: 280px;
  height: 280px;
  left: 300px;
  top: 0px;
  background-image: url('../img_deqing2024/logo_lg.png');
  background-size: cover;
}

.ban_presentation_color .logo2_lg {
  position: fixed;
  width: 280px;
  height: 165px;
  left: 10px;
  top: 66px;
  background-image: url('../img_deqing2024/logo_icf_500.png');
  background-size: cover;
}


.banner_line.line1 {
  color: #FFFFFF;
}

.banner_line.line1 span:nth-child(1) {
  display: block;
}

.banner_line.line1 span:nth-child(2) {
  display: block;
  font-size: 30px;
}

.ban_presentation_color .badge_score {
  position: absolute;
  width: 205px;
  height: 116px;
  top: -60px;
  left: 625px;
  background-image: url('../img_deqing2024/badge_score.png');
  background-size: cover;
  font-size: 62px;
  padding-top: 30px;
}

.ban_presentation_color .banner_line.line1 span:nth-child(1) {
  display: none;
}

.ban_presentation_color .banner_line.line1 span:nth-child(2) {
  font-size: 40px;
  position: relative;
  top: 72px;
  left: 10px;
}

.banner_line.line2 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 25px;
}

.ban_presentation_color .banner_line.line2 {
  position: relative;
  top: 5px;
}

.ban_presentation_color .banner_line.line2 img {
  vertical-align: bottom;
}

.ban_presentation_color .boat_a img {
  position: fixed;
  height: 600px;
  top: 310px;
  left: 270px;
}

.ban_presentation_color .boat_b img {
  position: fixed;
  height: 600px;
  top: 310px;
  right: 270px;
}

.ban_presentation_color .vest_a img {
  position: fixed;
  height: 200px;
  top: 610px;
  left: 410px;
}

.ban_presentation_color .vest_b img {
  position: fixed;
  height: 200px;
  top: 610px;
  right: 410px;
}

.ban_presentation_color .helmet_a img {
  position: fixed;
  height: 120px;
  top: 480px;
  left: 430px;
}

.ban_presentation_color .helmet_b img {
  position: fixed;
  height: 120px;
  top: 480px;
  right: 430px;
}

#banner_list {
  width: 1005px;
  height: 575px;
  left: 457px;
  top: 255px;
  /* padding: 10px 10px; */
  color: #FFFFFF;
  font-family: Calibri, Arial, sans-serif;
}

.ban_list .logo_sm {
  background-image: url('../img_deqing2024/logo_lg.png');
  width: 320px;
  height: 320px;
  left: 1125px;
  bottom: 255px;
  top: unset;
  background-size: cover;
}

.ban_list {
  background-image: url('../img_deqing2024/banner_list.png');
}

#banner_list #banner_line1 {
  font-weight: bold;
  width: 330px;
  height: 220px;
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 45px;
  /* text-align: center !important; */
}

#banner_list #banner_line1 span {
  position: absolute;
  top: 80px;
  left: 0px;
  display: block;
  width: 100%;
}

#banner_list.final_ranking #banner_line1 span {
  top: 43px;
}

#banner_list #banner_line2 {
  display: none;
}

#banner_list #banner_lines {
  top: 30px;
  left: 30px;
  width: initial;
  color: #313033;
}

#banner_list #banner_lines .banner_line {
  line-height: 50px;
  font-size: 35px;
}

span.numero {
  border-radius: 5em;
  background-color: #2d3c5a !important;
  font-size: 25px;
  position: relative;
  bottom: 4px;
  border: 1px solid white;
}

span.capitaine {
  border-radius: 10px;
  background-color: #f26e76 !important;
  font-size: 25px;
  position: relative;
  bottom: 4px;
  left: 5px;
}

.align-middle {
  vertical-align: text-bottom !important;
}

.ban_single {
  background-image: url('../img_deqing2024/banner_single.png');
}

#banner_single {
  width: 1010px;
  height: 120px;
  left: 133px;
  top: 868px;
  /* border: 1px solid red; */
}

.ban_single .logo_xs {
  /* background-image: url('../img_deqing2024/logo_sm.png'); */
  display: none;
}

.ban_single .banner_line {
  line-height: 61px;
  color: #FFFFFF;
  position: relative;
  top: 32px;
}

.ban_single .banner_line img {
  vertical-align: bottom;
}

#ban_info_2_lines {
  width: 885px;
  height: 245px;
  position: absolute;
  left: 370px;
  top: 720px;
  color: #FFFFFF;
}

.ban_info_2_lines {
  background-image: url('../img_deqing2024/banner_info_2_lines.png');
}

.ban_info_2_lines .logo_sm {
  background-image: url(../img_deqing2024/logo_lg.png);
  width: 450px;
  height: 450px;
  left: 720px;
  bottom: 80px;
  top: unset;
  background-size: cover;
}

.ban_info_2_lines #banner_line1 {
  top: 10px;
  font-weight: bold;
  width: 100%;
  left: 0px;
  font-size: 45px;
  padding-left: 40px;
}

.ban_info_2_lines #banner_line2 {
  top: 65px;
  left: 0px;
  padding-left: 40px;
  color: #FFFFFF;
  font-size: 30px;
}

.ban_info_2_lines .banner_line {
  padding-left: 40px;
}

.ban_info_2_lines .banner_line3 {
  margin-top: 120px;
}

.ban_info_1_lines div {
  /* border: 1px solid red; */
}

.ban_info_1_lines {
  background-image: url('../img_deqing2024/banner_info_1_lines.png');
}


#ban_info_1_lines {
  width: 1920px;
  height: 245px;
  left: 0px;
  top: 738px;
}

.ban_info_1_lines .logo_sm {
  background-image: url('../img_deqing2024/logo_lg.png');
  width: 450px;
  height: 450px;
  left: 415px;
  bottom: 80px;
  top: unset;
  background-size: cover;
}

.ban_info_1_lines .logo2_sm {
  background-image: url('../img_deqing2024/logo_icf_500.png');
  width: 450px;
  height: 250px;
  left: -20px;
  bottom: 200px;
  position: relative;
  background-size: cover;
}

.ban_info_1_lines #banner_line1 {
  top: 5px;
  right: 10px;
  width: 350px;
  padding-right: 20px;
  color: #FFFFFF;
}

.ban_info_1_lines #banner_line2 {
  top: 65px;
  right: 10px;
  padding-right: 20px;
  color: #FFFFFF;
}

.ban_info_1_lines .banner_line {
  margin-left: 2px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 28px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  font-size: 55px;
}

.ban_info_1_lines .banner_line .score {
  font-size: 90px;
  padding-top: 22px;
}

.ban_info_1_lines .banner_line .time {
  font-size: 70px;
  padding-top: 22px;
}

.ban_info_1_lines .banner_line .time img {
  position: absolute;
  bottom: 0px;
  left: 830px;
}

.ban_info_1_lines .banner_line #heure {
  padding-left: 70px;
}

.ban_info_1_lines .banner_line .score img {
  width: 50px;
}

.ban_info_1_lines #nation1 img,
.ban_info_1_lines #nation2 img {
  vertical-align: bottom;
  height: 80px;
}

.ban_list {
  background-image: url('../img_deqing2024/banner_list.png');
}

.ban_list.ranking {
  background-image: url('../img_deqing2024/banner_list_ranking.png');
}


.ban_list.ranking .logo_sm {
  background-image: url('../img_deqing2024/logo_lg.png');
  width: 270px;
  height: 270px;
  position: fixed;
  left: 250px;
  bottom: -20px;
  top: unset;
  background-size: cover;
}

.ban_list.ranking .logo2_sm {
  background-image: url('../img_deqing2024/logo_icf_300.png');
  width: 270px;
  height: 160px;
  position: fixed;
  left: -10px;
  bottom: 30px;
  background-size: cover;
}

#banner_list.final_ranking {
  width: 650px;
  height: 575px;
  left: 585px;
  top: 252px;
  /* border: 1px solid red; */
}

#banner_list.final_ranking #banner_line1 {
  width: 500px;
  /* height: 220px; */
  position: absolute;
  top: -76px;
  left: 20px;
  color: #FFFFFF;
}

#banner_list.final_ranking #banner_lines {
  top: 4px;
  left: 30px;
  width: initial;
  color: #323035;
}

#banner_list.final_ranking #banner_lines div:nth-child(-n+3) {
  line-height: 71px;
}

#banner_list.final_ranking .banner_line img {
  height: 40px;
  width: auto;
}

img.medal {
  position: relative;
  bottom: 6px;
  left: 6px;
}

.podium {
  background-image: url('../img_deqing2024/podium.png');
  color: #FFFFFF;
}

#podium_title {
  position: fixed;
  bottom: 60px;
  left: 718px;
  font-size: 45px;
  width: 416px;
}

#podium_title .categorie {
  position: relative;
  bottom: 15px;
}

#podium_line1 {
  bottom: 270px;
  left: 445px;
}

#podium_line2 {
  bottom: 330px;
  left: 723px;
}

#podium_line3 {
  bottom: 240px;
  left: 998px;
}

#ban_score {
  background-image: url('../img_deqing2024/score.png');
  color: #FFFFFF;
}

#ban_score_club {
  background-image: url('../img_deqing2024/score_club.png');
  color: #FFFFFF;
}

div#bandeau_score {
  top: 22px;
  height: 180px;
  /* border: 1px solid red; */
}

div#bandeau_score div {
  /* border: 1px solid red; */
}

#match_horloge {
  left: 520px;
  top: 100px;
  font-size: 45px;
  color: #FFFFFF;
}

#match_periode {
  left: 683px;
  top: 100px;
  width: 80px;
  font-size: 45px;
  color: #FFFFFF;
}

.live_ws #match_horloge {
  left: 478px;
}

.live_ws #match_periode {
  left: 602px;
  top: 104px;
  font-size: 38px;
}

.live_ws #match_possession {
  /* border: 1px solid red; */
  border-radius: unset;
  background: none;
  right: 488px;
  top: 110px;
  color: #FFFFFF;
}

#ban_score #equipe1,
#ban_score_club #equipe1 {
  top: 22px;
  font-size: 45px;
  width: 436px;
  color: #FFFFFF;
}

#ban_score #equipe2,
#ban_score_club #equipe2 {
  top: 22px;
  font-size: 45px;
  width: 436px;
  color: #FFFFFF;
}

#ban_score div#nation1,
#ban_score_club div#nation1 {
  left: 462px;
  top: 30px;
}

#ban_score div#nation1 img,
#ban_score_club div#nation1 img {
  /* background-color: rgb(100, 100, 100, .8); */
}

#ban_score div#nation2,
#ban_score_club div#nation2 {
  right: 462px;
  top: 30px;
}

div#score1 {
  top: -2px;
  left: 525px;
  font-size: 75px;
  width: 80px;
  color: #FFFFFF;
  text-align: center;
}

div#score2 {
  top: -2px;
  right: 525px;
  font-size: 75px;
  width: 80px;
  color: #FFFFFF;
  text-align: center;
}

div#score_separation {
  top: -10px;
  left: 605px;
  font-size: 80px;
  color: #FFFFFF;
}

div#categorie {
  bottom: 30px;
  left: 30px;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #1f7fc2;
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 15px;
  box-shadow: 1px 1px 12px #CCCCCC;
}

#ban_score.static,
#ban_score_club.static {
  display: none;
}

#categorie.static {
  display: none;
}

.ban_goal_card_2.static {
  display: block;
}

.ban_goal_card_2 {
  background-image: url('../img_deqing2024/banner_goal_card_2.png');
}

#banner_goal_card {
  top: 926px;
  left: auto;
  right: 73px;
  width: 630px;
  height: 77px;
  font-size: 26px;
  color: #FFFFFF;
  /* border: 1px solid red; */
}

#match_event_line2 {
  color: #FFFFFF;
  padding-left: 10px;
  padding-top: 10px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: white-space; */
}

#match_event_line2 span.numero {
  border-radius: 5em;
  background-color: #2d3c5a !important;
  font-size: 25px;
  position: relative;
  bottom: 4px;
  border: 1px solid white;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

#match_event_line1 {
  color: rgba(0, 0, 0, 0);
}

#match_event_line1 img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 64px;
}

#goal_card {
  right: 110px;
  top: 765px;
}

#goal_card img {
  width: 180px;
}

#match_player {
  position: fixed;
  bottom: 155px;
  right: 400px;
}

#match_player img {
  width: 250px;
}

#pres_player {
  position: fixed;
  bottom: 212px;
  left: 200px;
}

#pres_player img {
  width: 340px;
}

#pres_ref1 {
  position: fixed;
  bottom: 360px;
  left: 380px;
}

#pres_ref2 {
  position: fixed;
  bottom: 360px;
  left: 640px;
}

#pres_ref1 img {
  width: 300px;
}

#pres_ref2 img {
  width: 270px;
}