html, body
{
	width: 100vw;
    height: 100vh;
    background-color:rgb(0,255,0);
}

.quart {
    height:50vh;
    padding: 0px;
}

.quart:nth-of-type(1) {
    border-riht: 2px solid #274375;
    margin-riht: -2px;
    border-bottom: 2px solid #274375;
    margin-bottom: -2px;
}
.quart:nth-of-type(2) {
    border-left: 2px solid #274375;
    margin-left: -2px;
    border-bottom: 2px solid #274375;
    margin-bottom: -2px;
}
.quart:nth-of-type(3) {
    border-riht: 2px solid #274375;
    margin-riht: -2px;
    border-top: 2px solid #274375;
    margin-top: -2px;
}
.quart:nth-of-type(4) {
    border-left: 2px solid #274375;
    margin-left: -2px;
    border-top: 2px solid #274375;
    margin-top: -2px;
}

div {
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    color: black;
    text-align: center;
}

.ban_score {
    height: 50vh;
    width: 50vw;
    background-image: url('../img/score.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

div.terrain {
	position: absolute;
    top: 10px;
    left: 10px;
}

div.bandeau_score
{
    position: absolute;
    margin-left: 50%;
    top: 5px;
    transform: translateX(-50%);

    width: 552px;
    height: 124px;

    background-image: url("../img/SCORE.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.match_horloge
{
    position: absolute;
    left: 218px;
    top: 10px;
    font-size: 16px;
    width: 56px;
}

.match_periode
{
    position: absolute;
    right: 220px;
    top: 10px;
    font-size: 16px;
    color: red;
    width: 56px;
}

div.nation1
{	
    position: absolute;
    left: 135px;
    top: 31px;
}

div.nation2
{	
    position: absolute;
    right: 135px;
    top: 31px;
}

div.equipe1
{	
    position: absolute;
    left: 170px;
    top: 31px;
    font-size: 20px;
    width: 85px;
    color: white;
}

div.equipe2
{	
    position: absolute;
    right: 170px;
    top: 31px;
    font-size: 20px;
    width: 85px;
    color: white;
}

div.score1
{	
    position: absolute;
    top: 33px;
    left: 248px;
    font-size: 18px;
    width: 32px;
}

div.score2
{	
    position: absolute;
    top: 33px;
    right: 248px;
    font-size: 18px;
    width: 32px;
}

div.score_separation {	
    position: absolute;
    top: 32px;
    left: 274px;
    font-size: 18px;
}

div.categorie {
    position: absolute;
    top: 60px;
    left: 185px;
    font-size: 12px;
    width: 182px;
    font-style: italic;
    color: whitesmoke;
    background: linear-gradient(to bottom, #315891 0%, #315891 70%, white 100%);
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 4px #1e1e82;
}


.ban_double {
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_double.png');
    background-size: 50vw 50vh;
    display: none;
}

.banner_double {
    width: 580px;
    height: 78px;

    position: absolute;
    left: 215px;
    bottom: 50px;
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
}

.banner_line {
    line-height: 30px;
}

.evt {
    width: 32px;
    height: 32px;
}

span.capitaine {
    vertical-align: middle;
    font-size: 15px;
}
span.numero {
    vertical-align: middle;
    font-size: 15px;
}
