@font-face {
  font-family: HelveticaNeueCondensedBold;
  src: url(HelveticaNeueCondensedBold.ttf);
  font-weight: bold;
}

html, body
{
	width: 100vw;
    height: 100vh;
    /* Fond rose */
    /*background-color:rgb(255,0,255);*/
    
}

.quart {
    height:50vh;
    padding: 0px;
}

.quart:nth-of-type(1) {
    border-riht: 2px solid #274375;
    margin-riht: -2px;
    border-bottom: 2px solid #274375;
    margin-bottom: -2px;
}
.quart:nth-of-type(2) {
    border-left: 2px solid #274375;
    margin-left: -2px;
    border-bottom: 2px solid #274375;
    margin-bottom: -2px;
}
.quart:nth-of-type(3) {
    border-riht: 2px solid #274375;
    margin-riht: -2px;
    border-top: 2px solid #274375;
    margin-top: -2px;
}
.quart:nth-of-type(4) {
    border-left: 2px solid #274375;
    margin-left: -2px;
    border-top: 2px solid #274375;
    margin-top: -2px;
}

div {
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

#ban_score {
    height: 50vh;
    width: 50vw;
    background-image: url('../img/score.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

div.terrain {
	position: absolute;
    top: 10px;
    left: 10px;
}
div.catgroup {
	position: absolute;
    top: 10px;
    left: 90px;
    display: none;
}
div.nextgame {
	position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    display: none;
}

div.heure {
    top: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 50px;
    color: grey;
    font-size: 1.2em;
    font-style: italic;
    display: none;
  }

div.bandeau_score
{
    position: absolute;
    margin-left: 50%;
    top: 5px;
    transform: translateX(-50%);

    width: 552px;
    height: 124px;
}

.match_horloge
{
    position: absolute;
    left: 218px;
    top: 64px;
    font-size: 16px;
    width: 56px;
    color: #4b97cb;
}

.match_periode
{
    position: absolute;
    right: 220px;
    top: 64px;
    font-size: 16px;
    color: red;
    width: 56px;
    color: #4b97cb;
}

div.nation1
{	
    position: absolute;
    left: 150px;
    top: 30px;
}

div.nation2
{	
    position: absolute;
    right: 150px;
    top: 30px;
}

div.equipe1
{	
    position: absolute;
    left: 170px;
    top: 31px;
    font-size: 20px;
    width: 85px;
    color: #4b97cb;
}

div.equipe2
{	
    position: absolute;
    right: 170px;
    top: 31px;
    font-size: 20px;
    width: 85px;
    color: #4b97cb;
}

div.score1
{	
    position: absolute;
    top: 33px;
    left: 248px;
    font-size: 18px;
    width: 32px;
}

div.score2
{	
    position: absolute;
    top: 33px;
    right: 248px;
    font-size: 18px;
    width: 32px;
}

div.score_separation {	
    position: absolute;
    top: 32px;
    left: 274px;
    font-size: 18px;
}

div.categorie {
    position: absolute;
    top: 60px;
    left: 185px;
    font-size: 12px;
    width: 182px;
    font-style: italic;
    color: whitesmoke;
    background: linear-gradient(to bottom, #315891 0%, #315891 70%, white 100%);
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 4px #1e1e82;
}


.ban_double {
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_double.png');
    background-size: 50vw 50vh;
    display: none;
}

.banner_double {
    width: 580px;
    height: 78px;

    position: absolute;
    left: 215px;
    bottom: 50px;
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
}

.banner_line {
    line-height: 30px;
}

.evt {
/*    width: 32px;
    height: 32px;*/
    width: 50%;
    height: 50%;
}

.ban_goal_card {
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../img/banner_goal_card_2.png') left bottom;
    display: none;
}

.ban_name {
    width: 590px;
    height: 69px;

    position: absolute;
    left: 0px;
    top: 340px;
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    font-size: 45px;
}

.banner_line1 {
    line-height: 30px;
    font-size: 28px;
    color: #4b97cb;
    margin-left: 60px;
}
.banner_line2 {
    line-height: 30px;
    font-size: 35px;
    color: #144361;
    margin-left: 60px;
}

#match_event_line2 {
    /*font-size: 35px;*/
    color: #144361;
}

.goal_card {
    position: absolute;
    right: 70px;
    top: 290px;
}

span.capitaine {
    vertical-align: middle;
    font-size: 30px;
}
span.numero {
    vertical-align: middle;
    font-size: 30px;
}

.clair {
    color: #4b97cb;
}

#refresh_frequency {
    top: 25vh;
    left: 50vw;
    position: fixed;
    transform: translate(-50%, -65%);
    font-style: italic;
    background-color: white;
    padding: 5px;
    /* border: 1px solid red;   */
}
#horloge {
    top: 15vh;
    left: 50vw;
    position: fixed;
    transform: translate(-50%, -65%);
    font-style: italic;
    background-color: white;
    padding: 5px;
    /* border: 1px solid red;   */
}