body
{
/*	background-color:rgb(255,255,255);*/
}

#container_1
{
 	position:absolute;
	left:0%;
	width:50vw;
	height:50vh;

	background-image: url("../img/schema/schema_2017_CEH.png");
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
} 

#container_2
{
	position:absolute;
	left:50vw;
	width:50vw;
	height:50vh;

	background-image: url("../img/schema/schema_2017_CEF.png");
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
} 

#container_3
{
	position:absolute;
	left:0vw;
	top:50vh;
	width:50vw;
	height:50vh;

	background-image: url("../img/schema/schema_2017_CEH21.png");
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
} 

#container_4
{
	position:absolute;
	left:50vw;
	top:50vh;
	width:50vw;
	height:50vh;

	background-image: url("../img/schema/schema_2017_CEF21.png");
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
} 

