@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url(HelveticaNeueCondensedBold.ttf);
    font-weight: bold;
}

html,
body {
    width: 100%;
    height: 100%;
    /* Fond vert */
    /* background-color:rgba(0, 255, 0); */
    background: none;
}

div {
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

#ban_score {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/score.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#ban_score_club {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/score_club.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

div#bandeau_score {
    position: absolute;
    /*margin-left: 50vw;*/
    top: 32px;
    /*transform: translateX(-53%);*/
    left: 340px;
    width: 1240px;
    height: 124px;
}

#match_horloge {
    position: absolute;
    left: 502px;
    top: 102px;
    font-size: 35px;
    width: 123px;
    color: #4b97cb;
}

#match_periode {
    position: absolute;
    right: 502px;
    top: 102px;
    font-size: 35px;
    width: 123px;
    color: #4b97cb;
}

#match_possession {
    position: absolute;
    right: 467px;
    top: 106px;
    font-size: 30px;
    padding-left: 8px;
    padding-right: 8px;
    color: #133751;
    background-color: #4b97cb;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

div#nation1 {
    position: absolute;
    left: 522px;
    top: 47px;
}

div#nation2 {
    position: absolute;
    right: 522px;
    top: 47px;
}

div#equipe1 {
    position: absolute;
    left: 12px;
    top: 45px;
    font-size: 35px;
    width: 500px;
    color: #4b97cb;
    text-align: right;
}

div#equipe2 {
    position: absolute;
    right: 12px;
    top: 45px;
    font-size: 35px;
    width: 500px;
    color: #4b97cb;
    text-align: left;
}

div#pen1 {
    position: absolute;
    right: 810px;
    top: 43px;
    font-size: 40px;
}

div#pen1.club {
    left: 15px;
    top: 105px;
    text-align: left;
}

div#pen2 {
    position: absolute;
    left: 810px;
    top: 43px;
    font-size: 40px;
}

div#pen2.club {
    right: 15px;
    top: 105px;
    text-align: right;
}

div#score1 {
    position: absolute;
    top: 47px;
    left: 562px;
    font-size: 35px;
    width: 62px;
    color: #144263;
}

div#score2 {
    position: absolute;
    top: 47px;
    right: 562px;
    font-size: 35px;
    width: 62px;
    color: #144263;
}

div#score_separation {
    position: absolute;
    top: 47px;
    left: 613px;
    font-size: 35px;
    color: #144263;
}

div#categorie {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 23px;
    /*width: 282px;*/
    font-style: italic;
    color: #4b97cb;
    background-color: #e3eef7;
    border: 2px solid #457590;
    border-radius: 7px;
    /*box-shadow: 4px 4px 4px #1e1e82;*/
    padding: 5px 15px;
}

.ban_goal_card {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_goal_card.png');
    display: none;
}

.ban_goal_card_2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_goal_card_2.png');
    display: none;
    margin: none;
}

#banner_goal_card {
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 105px;
    top: 780px;
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    font-size: 45px;
}

.banner_line {
    line-height: 60px;
}

#match_event_line1 {
    font-size: 35px;
    color: #4b97cb;
    margin-left: 60px;
}

#match_event_line2 {
    /*font-size: 35px;*/
    color: #144361;
}

#goal_card {
    position: absolute;
    right: 250px;
    top: 690px;
}

span.capitaine {
    vertical-align: middle;
    font-size: 30px;
}

span.numero {
    vertical-align: middle;
    font-size: 30px;
}

.clair {
    color: #4b97cb;
}

.ban_live_teams {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/live_teams.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


.ban_live_teams #equipe1 {
    left: 60px;
    text-align: left;
}

.ban_live_teams #equipe2 {
    right: 60px;
    text-align: right;
}


.ban_live_teams #nation1 {
    left: 6px;
}

.ban_live_teams #nation2 {
    right: 6px;
}