@font-face {
  font-family: HelveticaNeueCondensedBold;
  src: url(HelveticaNeueCondensedBold.ttf);
  font-weight: bold;
}

html, body
{
	width: 100%;
    height: 100%;
    background-color:rgb(0,255,0);
}

div {
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.ban_score {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/score.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

div#bandeau_score
{
    position: absolute;
    /*margin-left: 50vw;*/
    top: 32px;
    /*transform: translateX(-53%);*/
    left: 680px;
    width: 555px;
    height: 124px;
}

#match_horloge
{
    position: absolute;
    left: 159px;
    top: 102px;
    font-size:35px;
    width: 123px;
    color: #4b97cb;
}

#match_periode
{
    position: absolute;
    right: 159px;
    top: 102px;
    font-size: 35px;
    color: red;
    width: 123px;
    color: #4b97cb;
}

div#nation1
{	
    position: absolute;
    left: 176px;
    top: 50px;
}

div#nation2
{	
    position: absolute;
    right: 176px;
    top: 50px;
}

div#equipe1
{	
    position: absolute;
    left: 62px;
    top: 48px;
    font-size: 35px;
    width: 165px;
    color: #4b97cb;
}

div#equipe2
{	
    position: absolute;
    right: 62px;
    top: 48px;
    font-size: 35px;
    width: 165px;
    color: #4b97cb;
}

div#score1
{	
    position: absolute;
    top: 47px;
    left: 220px;
    font-size: 35px;
    width: 62px;
    color: #144263;
}

div#score2
{	
    position: absolute;
    top: 47px;
    right: 220px;
    font-size: 35px;
    width: 62px;
    color: #144263;
}

div#score_separation {	
    position: absolute;
    top: 47px;
    left: 271px;
    font-size: 35px;
    color: #144263;
}

div#categorie {
    position: absolute;
    top: 101px;
    left: 137px;
    font-size: 20px;
    width: 282px;
    font-style: italic;
    color: whitesmoke;
    background: linear-gradient(to bottom, #315891 0%, #315891 70%, white 100%);
    border-radius: 0 0 5px 5px;
    box-shadow: 4px 4px 4px #1e1e82;
}

.ban_goal_card {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_goal_card.png');
    display: none;
}

#banner_goal_card {
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 105px;
    top: 780px;
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    font-size: 45px;
}

.banner_line {
    line-height: 60px;
}

#match_event_line1 {
    font-size: 35px;
    color: #4b97cb;
    margin-left: 60px;
}
#match_event_line2 {
    /*font-size: 35px;*/
    color: #144361;
}

#goal_card {
    position: absolute;
    right: 250px;
    top: 690px;

}

span.capitaine {
    vertical-align: middle;
    font-size: 30px;
}
span.numero {
    vertical-align: middle;
    font-size: 30px;
}

.clair {
    color: #4b97cb;
}

