html, body
{
	width: 100%;
    height: 100%;
    background-color:rgb(0,255,0);
/*
	background-image: url("../img/fond_ecran_1920x1080.png");
	background-repeat: no-repeat;
	background-size: 100%;
*/
}

.img_nation {
    width: 8%;
}
.img_nation2 {
    width: 14%;
}

#banner
{
    width: 60%;
    
    position: absolute;
    margin-left: 50vw;
    margin-top: 100vh;
    transform: translate(-50%, -120%);
    
    padding: 5px 50px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);
    /*background-color: whitesmoke;*/
    
    color: black;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5vw;
    
}

#banner_list
{
    width: 60%;
    height: 70%;
    
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    
    padding: 10px 10px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);
    /*background-color: whitesmoke;*/
    
    color: black;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5vw;
    
}

div {
    /*border: 1px solid black;*/
}