@font-face {
  font-family: HelveticaNeueCondensedBold;
  src: url(HelveticaNeueCondensedBold.ttf);
  font-weight: bold;
}

html, body
{
	width: 100%;
    height: 100%;
    /* background-color:rgba(0, 255, 0); */
    background: none;
}

body.black {
    background-color: black;
}

.img_nation {
    width: 8%;
}
.img_nation2 {
    width: 14%;
}

.text-top {
    vertical-align: text-top;
}

.nuage {
    /*background-color: none;*/
    background-image: url('../../img/kpi_nuage-de-mots-2.png');
    background-position: center;
	background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    border: 1px solid grey;
}

.voie {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50px;
    right: 50px;
}


.ban_double {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_double.png');
	background-repeat: no-repeat;
}

#banner_double {
    /*border: 1px solid red;*/
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 405px;
    top: 825px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 45px;
}

.ban_info_1_lines {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_info_1_lines.png');
	background-repeat: no-repeat;
}
.ban_info_1_lines .logo_sm {
    width: 113px;
    height: 122px;
    position: absolute;
    left: 317px;
    top: -215px;
    background-image: url('../img/logo_sm.png');
	background-repeat: no-repeat;
}
.ban_info_1_lines #banner_line1 {
    top: -245px;
}
.ban_info_1_lines #banner_line2 {
    top: -190px;
    right: 20px;
}

#ban_info_1_lines {
    /*border: 1px solid red;*/
    width: 1020px;
    height: 138px;

    position: absolute;
    left: 410px;
    top: 834px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 36px;
}

.ban_info_2_lines {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_info_2_lines.png');
	background-repeat: no-repeat;
}
.ban_info_2_lines .logo_sm {
    width: 113px;
    height: 122px;
    position: absolute;
    left: 365px;
    top: -215px;
    background-image: url('../img/logo_sm.png');
	background-repeat: no-repeat;
}
.ban_info_2_lines #banner_line1 {
    top: -245px;
}
.ban_info_2_lines #banner_line2 {
    top: -190px;
    right: 20px;
}

#ban_info_2_lines {
    /*border: 1px solid red;*/
    width: 1060px;
    height: 138px;

    position: absolute;
    left: 362px;
    top: 834px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 45px;
}

.ban_single {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_single.png');
	background-repeat: no-repeat;
}
.ban_single .logo_xs {
    width: 83px;
    height: 90px;
    position: absolute;
    left: 553px;
    top: 830px;
    background-image: url('../img/logo_xs.png');
	background-repeat: no-repeat;
}


#banner_single {
    /*border: 1px solid red;*/
    width: 680px;
    height: 138px;

    position: absolute;
    left: 655px;
    top: 853px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 40px;
}


.ban_presentation {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_presentation.png');
	background-repeat: no-repeat;
}
.ban_presentation .logo_lg {
    width: 311px;
    height: 335px;
    position: absolute;
    left: 1100px;
    top: 365px;
    background-image: url('../img/logo_lg.png');
	background-repeat: no-repeat;
}

#banner_presentation {
    /*border: 1px solid red;*/
    width: 1215px;
    height: 138px;

    position: absolute;
    left: 355px;
    top: 750px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 45px;
}


#banner {
    width: 60%;
    
    position: absolute;
    margin-left: 50vw;
    margin-top: 100vh;
    transform: translate(-50%, -120%);
    
    padding: 5px 50px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);
    /*background-color: whitesmoke;*/
    
    color: black;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 1.5vw;
}


.ban_list {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/banner_list.png');
	background-repeat: no-repeat;
}
.ban_list .logo_sm {
    width: 113px;
    height: 122px;
    position: absolute;
    left: 725px;
    top: 152px;
    background-image: url('../img/logo_sm.png');
	background-repeat: no-repeat;
}

#banner_list {
    width: 1030px;
    height: 870px;
    
    position: absolute;
    left: 405px;
    top: 125px;
    padding: 10px 10px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 38px;
}

#banner_list.final_ranking {
    margin-left: 50px;
}

#banner_line1 {
    font-weight: bold;
    width: 55%;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 45px;
}

#banner_line2 {
    font-weight: bold;
    width: 55%;
    position: absolute;
    right: 0px;
    top: 60px;
    font-size: 35px;
    color: #4b97cb;
}

.categorie {
    font-size: 30px;
    font-style: italic;
}

#banner_lines {
    position: absolute;
    top: 235px;
    left: 0px;
    width: 100%;
}

.banner_line {
    line-height: 61px;
}
.player.banner_line {
    line-height: 20px;
}



.banner_line.line1 {
    color: #144361;
}

.banner_line.line2 {
    color: #4b97cb;
}

.clair {
    color: #4b97cb;
}

span.capitaine {
    vertical-align: middle;
    font-size: 30px;
}
span.numero {
    vertical-align: middle;
    font-size: 30px;
}

.podium {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/podium.png');
	background-repeat: no-repeat;
}

#podium {
    position: absolute;
    left: 365px;
    bottom: 87px;
    
    width: 1185px;
    height: 300px;
    
    color: black;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Arial, sans-serif;
    font-size: 1.5vw;
}

#podium_categorie {
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}
#podium_line1 {
    position: absolute;
    width: 420px;
    bottom: 220px;
    left: 365px;
}
#podium_line2 {
    width: 410px;
    position: absolute;
    bottom: 250px;
    left: 753px;
}
#podium_line3 {
    width: 410px;
    position: absolute;
    bottom: 190px;
    left: 1152px;
}

.podium_team span {
    text-shadow: 2px 2px 3px #fff;
}

.ban_goal_card {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_goal_card.png');
}
#banner_goal_card {
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 105px;
    top: 780px;
    color: #000066;
    font-weight: bold;
    font-family: HelveticaNeueCondensedBold, Helvetica, sans-serif;
    font-size: 45px;
}
#match_event_line1 {
    font-size: 35px;
    color: #4b97cb;
    margin-left: 60px;
}
#match_event_line2 {
    /*font-size: 35px;*/
    color: #144361;
}
#goal_card {
    position: absolute;
    right: 250px;
    top: 690px;
}





div {
    /*border: 1px solid black;*/
}


