html, body
{
	width: 100%;
    height: 100%;
    background-color:rgb(0,255,0);
/*
	background-image: url("../img/fond_ecran_1920x1080.png");
	background-repeat: no-repeat;
	background-size: 100%;
*/
}

.img_nation {
    width: 8%;
}
.img_nation2 {
    width: 14%;
}


.ban_double {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_double.png');
	background-repeat: no-repeat;
}

#banner_double {
    /*border: 1px solid red;*/
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 405px;
    top: 825px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 45px;
}

.ban_single {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_single.png');
	background-repeat: no-repeat;
}

#banner_single {
    /*border: 1px solid red;*/
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 405px;
    top: 848px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
}


.ban_presentation {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-image: url('../img/banner_presentation.png');
	background-repeat: no-repeat;
}

#banner_presentation {
    /*border: 1px solid red;*/
    width: 1180px;
    height: 138px;

    position: absolute;
    left: 355px;
    top: 750px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 45px;
}

#banner {
    width: 60%;
    
    position: absolute;
    margin-left: 50vw;
    margin-top: 100vh;
    transform: translate(-50%, -120%);
    
    padding: 5px 50px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);
    /*background-color: whitesmoke;*/
    
    color: black;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5vw;
}


.ban_list {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/banner_list.png');
	background-repeat: no-repeat;
}

#banner_list {
    width: 1030px;
    height: 870px;
    
    position: absolute;
    left: 405px;
    top: 125px;
    padding: 10px 10px;
    /*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 10%,rgba(255,255,255,0.8) 90%, rgba(255,255,255,0) 100%);*/
    /*background-color: whitesmoke;*/
    
    color: #000066;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 45px;
}

#banner_line1 {
    font-weight: bold;
    width: 55%;
    position: absolute;
    right: 0px;
    top: 30px;
    font-size: 45px;
}

#banner_line2 {
    font-weight: bold;
    width: 55%;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 45px;
}

.categorie {
    font-size: 30px;
    font-style: italic;
}

#banner_lines {
    position: absolute;
    top: 240px;
    left: 55px;
}

.banner_line {
    line-height: 60px;
}
span.capitaine {
    vertical-align: middle;
    font-size: 30px;
}
span.numero {
    vertical-align: middle;
    font-size: 30px;
}

.podium {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/podium.png');
	background-repeat: no-repeat;
}

#podium {
    position: absolute;
    left: 365px;
    bottom: 87px;
    
    width: 1185px;
    height: 300px;
    
    color: black;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 1.5vw;
}

#podium_categorie {
    position: absolute;
    bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}
#podium_line1 {
    width: 420px;
    position: absolute;
    bottom: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#podium_line2 {
    width: 410px;
    position: absolute;
    bottom: 120px;
    left: 2px;
}
#podium_line3 {
    width: 410px;
    position: absolute;
    bottom: 90px;
    right: 0px;
}



div {
    /*border: 1px solid black;*/
}